<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" @click="metoda" />
    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App" />
    {{ message }}
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src

@Options({
  components: {
    HelloWorld,
  },
  computed: {},
})
export default class Home extends Vue {
  message = "jakis text";

  metoda() {
    this.message = "zmien text";
  }
}
</script>
