<div class="container">
  <div class="row">
    <div class="col">
      <app-clock class="float-end"></app-clock>

      <h1>{{ title }}</h1>

      <!-- <p>Welcome {{ user ? user.name : "Guest" }}</p> -->

      <p *ngIf="user">Welcome {{ user.name }}</p>

      <p *ngIf="!user">Welcome Guest</p>

      <input type="text">

      {{ check() }}

      <button *ngIf="!user" (click)="login()">Login</button>

      <div *ngIf="user">
        <!-- <input type="text" 
          [value]="user.name" 
          (keyup)="user.name = $any($event.currentTarget).value "> -->

          <app-testform [user]="user"></app-testform>
      </div>  

    </div>
  </div>
</div>
