<p>testform works!</p>

<form #formRef="ngForm" (ngSubmit)="submit(formRef.value)">
  <div class="form-group">
    <label for="">Name</label>

    <input
      type="text"
      name="username"
      [(ngModel)]="user.name"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
