<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1 @click="message = 'update'">{{message}}</h1>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          message: "placki",
        },
      });
    </script>
  </body>
</html>
