<template>
  <div>
    <h1 @click="updateTitle()">{{ title }}</h1>
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view />
  </div>
</template>

<script lang="ts">
import { defineComponent, effect, ref } from "@vue/runtime-core";

export default defineComponent({
  setup() {
    const title = ref("Vue App");

    effect(() => {
      const t = title.value;
      console.log("effect");
    });

    const updateTitle = () => {
      title.value = "Changed title";
    };

    return {
      title,
      updateTitle,
    };
  },
});

// export default defineComponent({
//   data() {
//     return {
//       title: "Vue app",
//     };
//   },
//   methods: {
//     updateTitle() {
//       this.title = "NEw title";
//     },
//   },
// });
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
